<odoo>
    <menuitem id="menu_finance_entries_accounting_ledgers" name="Ledgers" sequence="3" parent="account.menu_finance_entries">
        <menuitem id="menu_action_account_moves_ledger_general" action="action_account_moves_ledger_general" groups="account.group_account_readonly" sequence="1"/>
        <menuitem id="menu_action_account_moves_ledger_partner" action="account.action_account_moves_ledger_partner" groups="account.group_account_readonly" sequence="2"/>
    </menuitem>
</odoo>